:root {
    --purple: rgba(120, 40, 253, 1);
    --yellow: rgba(253, 240, 40, 1);
    --purple-2: rgba(99, 52, 227, 1);
    --black: rgba(0, 0, 0, 1);
    --grey: rgba(0, 0, 0, 0.2);
    --yellow-2: rgba(255, 201, 87, 1);
    --white: rgba(255, 255, 255, 1);
    --green: rgba(52, 168, 83, 1);
    --navy: rgba(12, 24, 84, 1);
    --stroke: rgba(61, 61, 61, 1);
    --home-heading-font-family: "Roboto-Bold", Helvetica;
    --home-heading-font-weight: 700;
    --home-heading-font-size: 64px;
    --home-heading-letter-spacing: 0px;
    --home-heading-line-height: 120.00000476837158%;
    --home-heading-font-style: normal;
    --heading-1-font-family: "Roboto-Bold", Helvetica;
    --heading-1-font-weight: 700;
    --heading-1-font-size: 56px;
    --heading-1-letter-spacing: 0px;
    --heading-1-line-height: 120.00000476837158%;
    --heading-1-font-style: normal;
    --heading-2-font-family: "Roboto-Bold", Helvetica;
    --heading-2-font-weight: 700;
    --heading-2-font-size: 48px;
    --heading-2-letter-spacing: 0px;
    --heading-2-line-height: 120.00000476837158%;
    --heading-2-font-style: normal;
    --heading-3-font-family: "Roboto-Bold", Helvetica;
    --heading-3-font-weight: 700;
    --heading-3-font-size: 28px;
    --heading-3-letter-spacing: 0px;
    --heading-3-line-height: 150%;
    --heading-3-font-style: normal;
    --heading-4-font-family: "Roboto-Bold", Helvetica;
    --heading-4-font-weight: 700;
    --heading-4-font-size: 20px;
    --heading-4-letter-spacing: 0px;
    --heading-4-line-height: 150%;
    --heading-4-font-style: normal;
    --heading-5-font-family: "Roboto-Bold", Helvetica;
    --heading-5-font-weight: 700;
    --heading-5-font-size: 14px;
    --heading-5-letter-spacing: 0px;
    --heading-5-line-height: 150%;
    --heading-5-font-style: normal;
    --heading-6-font-family: "Roboto-Bold", Helvetica;
    --heading-6-font-weight: 700;
    --heading-6-font-size: 12px;
    --heading-6-letter-spacing: 0px;
    --heading-6-line-height: 150%;
    --heading-6-font-style: normal;
}
